
.top-header
{
    background-color:#40B176;
    color:aliceblue;
    line-height:2;
}

.link-style
{
    text-decoration: none;
    color:white;
    margin-right: 10px;
    padding:10px;
}

.link-style:hover{
    background-color:palegoldenrod;
    color:green;
  
}